#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
MVN := mvn
SERVER_JAR := target/polaric-certauth-*.jar

%:
	dh $@
	
override_dh_auto_clean:


override_dh_auto_configure: 


override_dh_auto_build:
	$(MVN) clean dependency:copy-dependencies -DoutputDirectory=target/lib -DincludeScope=runtime package
	$(MAKE) -C client

override_dh_auto_install:
	install -D -m 0644 $(SERVER_JAR) debian/polaric-certauth-server/usr/share/java/
	install -D -m 0755 client/certclient debian/polaric-certauth-client/usr/bin/certclient
	install -D -m 0644 debian/client.ini debian/polaric-certauth-client/etc/polaric-certauth/client.ini

	
override_dh_auto_test:


override_dh_auto_clean:
	$(MVN) clean
	$(MAKE) -C client clean
	dh_auto_clean
